spaceage.mp {
    root * /srv
    encode gzip
    file_server

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}

www.spaceage.mp {
    redir https://spaceage.mp

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}
