spaceage.doridian.net {
    root * /srv
    encode gzip
    file_server

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}

www.spaceage.doridian.net {
    redir https://spaceage.doridian.net

    header {
        Strict-Transport-Security "max-age=31536000; preload; includeSubDomains"
    }
}
